<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <!-- venom Button -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/venom-button.css" />
  </head>
  <body>
    <%- body %>
    <div id="myButton" class="venom-button"></div>
  </body>
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/venom-button.js"></script>
  <script>
    // floating button wa
    $("#myButton").venomButton({
      phone: "62895349139240",
      popupMessage: "hallo, ada yang saya bisa bantu??",
      showPopup: true,
      position: "left",
      linkButton: false,
      showOnIE: false,
      headerTitle: "Admin",
      headerColor: "#25d366",
      backgroundColor: "#25d366",
      buttonImage: '<img src="./images/avatar/whatsapp.svg" />',
    });
  </script>
</html>
