<!--Sidebar-->
<div class="sidebar transition overlay-scrollbars">
  <div class="logo">
    <h2 style="font-weight: 700" class="mb-0">
      LMS<span style="font-weight: 500">clone</span>
    </h2>
  </div>

  <div class="sidebar-items">
    <div class="accordion" id="sidebar-items">
      <ul>
        <p class="menu">Apps</p>

        <li>
          <a href="/dashboard" class="items">
            <i class="fa fa-tachometer-alt"></i>
            <span>Dashoard</span>
          </a>
        </li>

        <p class="menu">User Interface</p>

        <li id="headingOne">
          <a
            href="onclick();"
            class="submenu-items"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <i class="fas fa-users"></i>
            <span>Users</span>
            <i class="fas la-angle-right"></i>
          </a>
        </li>
        <div
          id="collapseOne"
          class="collapse submenu"
          aria-labelledby="headingOne"
          data-parent="#sidebar-items"
        >
          <ul>
            <li>
              <a href="/mahasiswa">Mahasiswa</a>
            </li>

            <li>
              <a href="/dosen">Dosen</a>
            </li>
          </ul>
        </div>
        <li>
          <a href="/course" class="items">
            <i class="fas fa-book-reader"></i>
            <span>MataKuliah</span>
          </a>
        </li>
        <li id="headingTwo">
          <a
            href="onclick();"
            class="submenu-items"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-user-plus"></i>
            <span>Registrasi</span>
            <i class="fas la-angle-right"></i>
          </a>
        </li>
        <div
          id="collapseTwo"
          class="collapse submenu"
          aria-labelledby="headingTwo"
          data-parent="#sidebar-items"
        >
          <ul>
            <li>
              <a href="/daftarAdmin">Daftar Admin</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
