<h3></h3>
<div class="col-md-8 col-8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Ganti Password</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <% if (typeof message != 'undefined') { %>
        <div class="alert alert-danger alert-icon alert-dismissible fade show">
          <ul>
            <li>
              <%= message %><button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
          </ul>
        </div>
        <% } %>
        <form
          class="form form-horizontal"
          method="POST"
          action="/resetPassword/:token"
        >
          <div class="form-body">
            <div class="row">
              <div class="col-md-4">
                <label>Username</label>
              </div>
              <div class="col-md-8">
                <div class="form-group has-icon-left">
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="username"
                      id="first-name-icon"
                      name="username"
                      required
                    />
                    <div class="form-control-icon">
                      <i data-feather="user"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label>New Password</label>
              </div>
              <div class="col-md-8">
                <div class="form-group has-icon-left">
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      required
                    />
                    <div class="form-control-icon">
                      <i data-feather="lock"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label>Confirm Password</label>
              </div>
              <div class="col-md-8">
                <div class="form-group has-icon-left">
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="Confirm_password"
                      required
                    />
                    <div class="form-control-icon">
                      <i data-feather="lock"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mr-1 mb-1">
                  Simpan
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
