<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Learning Management System UIKA</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="./landing-page/img/logo.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="./landing-page/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="./landing-page/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="./landing-page/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="./landing-page/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="./landing-page/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="./landing-page/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="./landing-page/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="./landing-page/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1><a href="index.html">Learning Management System of UIKA</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#course">Course</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li>
              <a class="getstarted scrollto" href="/loginPage">LOG IN</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="
              col-lg-6
              pt-5 pt-lg-0
              order-2 order-lg-1
              d-flex
              flex-column
              justify-content-center
            "
          >
            <h1 data-aos="fade-up">Welcome to LMS of UIKA Bogor!</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              Untuk dosen: untuk membuat sesi kursus baru, silakan hubungi staf
              akademik fakultas Anda.
            </h2>
            <h2 data-aos="fade-up" data-aos-delay="400" class="students">
              Bagi Mahasiswa : yang belum memiliki akun di sistem UIKA LMS
              silahkan hubungi Admin atau TU
            </h2>
            <div data-aos="fade-up" data-aos-delay="800">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left"
            data-aos-delay="200"
          >
            <img
              src="./landing-page/img/hero2.svg"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about mt-4">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
          </div>

          <div class="row content text-center">
            <div
              class="col-lg-12 pt-4 pt-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <p>
                Learning Management System ini hanya di peruntukan untuk
                mahasiswa angkatan 2020, Semoga dengan adanya ini mahasiswa dan
                dosen bisa terbantu untuk mengajar dan belajarnya. TERIMAKASIH
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Services Section ======= -->
      <section id="course" class="services mt-4">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>course</h2>
            <p>The course here is only for students of the class of 2020</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Aljabar Linear</a></h4>
                <p class="description">
                  mencakup pemetaan Linier pada ruang vektor, aljabar matriks,
                  perubahan basis, rank, determinan dan invers.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Bahasa Indonesia</a></h4>
                <p class="description">
                  memahami dan menggunakan bahasa Indonesia dalam komunikasi
                  tulis ilmiah.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Kalkulus II</a></h4>
                <p class="description">
                  teknik integrasi, penggunaan integral, bentuk tak tentu dan
                  integral tak wajar, barisan dan deret.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Struktur Data</a></h4>
                <p class="description">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>

            <div
              class="
                col-md-6 col-lg-3
                d-flex
                align-items-stretch
                mb-5 mb-lg-0
                mt-2
              "
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Teknik Digital</a></h4>
                <p class="description">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 mt-2"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Matematika Diskrit</a></h4>
                <p class="description">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 mt-2"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Syari'ah</a></h4>
                <p class="description">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 mt-2"
            >
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Statiska Dan Probabilitas</a></h4>
                <p class="description">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Contact Us</h2>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="contact-about">
                <h3>Vesperr</h3>
                <p>
                  Cras fermentum odio eu feugiat. Justo eget magna fermentum
                  iaculis eu non diam phasellus. Scelerisque felis imperdiet
                  proin fermentum leo. Amet volutpat consequat mauris nunc
                  congue.
                </p>
                <div class="social-links">
                  <a href="https://twitter.com/uikabogor?s=80" class="twitter"
                    ><i class="bi bi-twitter"></i
                  ></a>
                  <a
                    href="https://www.facebook.com/events/2291958410936088/?app=fbl"
                    class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a
                    href="https://instagram.com/uika_bogor?utm_medium=copy_link"
                    class="instagram"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a href="#" class="linkedin"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 mt-4 mt-md-0"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="info">
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>
                    Jl. Sholeh Iskandar, RT.01/RW.10<br />Kedungbadak, Kec.
                    Tanah Sereal, Kota Bogor, Jawa Barat 16162
                  </p>
                </div>

                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>mail@uika-bogor.ac.id</p>
                </div>

                <div>
                  <i class="ri-phone-line"></i>
                  <p>+62 811 1174 045</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-5 col-md-12"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>Lerning Manegemen System UIKA</strong>.
              All Rights Reserved
            </div>
            <div class="credits">
              Designed by
              <a
                href="https://www.instagram.com/p/CGxGEtGH9jQd4M4ePWq1Ear6hyjFH0LBtKUJsc0/?utm_medium=copy_link"
                >Azisprtm_</a
              >
            </div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto">Home</a>
              <a href="#about" class="scrollto">About</a>
              <a href="#service">Service</a>
              <a href="/loginPage">Log In</a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="./landing-page/vendor/aos/aos.js"></script>
    <script src="./landing-page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./landing-page/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./landing-page/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./landing-page/vendor/php-email-form/validate.js"></script>
    <script src="./landing-page/vendor/purecounter/purecounter.js"></script>
    <script src="./landing-page/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="./landing-page/js/main.js"></script>
  </body>
</html>
