<div class="row">
  <div class="col-12 col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom bg-info">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>Profile</span>
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="col-xl-12 text-center">
  <div class="card">
    <div class="card-body d-flex justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="imgBx mb-4">
              <img src="./images/avatar/avatar-1.png" alt="profile" />
            </div>
            <h5>M Ajis Pratama</h5>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">
                <b>NPM : </b>201106040468</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                ><b>Email : </b>azisprtm08@gmail.com</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                ><b>Status : </b>Admin</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
