<div class="row">
  <div class="col-12 col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom bg-info">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Cours</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>Aljabar Linear</span>
        </li>
      </ol>
    </nav>
  </div>
</div>
<h3></h3>
<div class="row">
  <div class="col-xl-12">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-info
        mb-3
      "
    >
      <div class="card-header">Aljabar Linear</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Deskripsi</h5>
        <p class="card-text">
          Pembahasan matakuliah Aljabar Linier mencakup pengkajian himpunan
          pembentang, bebas Linier dan basis, dimensi, jumlahan langsung,
          koordinat dan basis terurut, pemetaan Linier pada ruang vektor,
          pemetaan Linier dan aljabar matriks, perubahan basis, rank, determinan
          dan invers, bentuk echelon dari suatu matriks, vektor-eigen dan
          nilai-eigen , pendiagonalan matriks, orthogonalitas, general invers.
          aplikasi dari aljabar linier adalah suatu bagian yang terintegrasi
          dalam penyajian kuliah di kelas. Juga dalam pembahasan kuliah
          digunakan perangkat lunak SAGEMATH untuk membekali peserta didik
          mempunyai kemampuan melakukan komputasi numerik dan simbolik. Pada
          proses pembelajaran di klas peserta didik akan belajar untuk
          identifikasi masalah, mengungkapkan ide-ide matematika: grafis,
          numerik simbolik dan mengekspresikanya kedalam bentuk tulisan. Selain
          diarahkan untuk belajar mandiri melalui tugas-tugas, peserta didik
          diarahkan untuk bekerjasama dalam kerja kelompok.
        </p>
        <hr />
        <h5 class="card-title">
          Capain Pembelajaran yang di bebankan Mata Kuliah
        </h5>
        <p class="card-text">
            <div class="list-group">
                <ul>
                <li href="#" class="list-group-item list-group-item-action">
                    <i class="fas fa-arrow-alt-circle-right"></i> Mampu menginterpertasikan konsep dasar
                    matematika dan pembuktian secara langsung, tidak langsung,
                    maupun dengan induksi matematika.
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  ><i class="fas fa-arrow-alt-circle-right"></i> Mampu melakukan identifikasi permasalahan sederhana,
                  membentuk model matematika dan menyelesaikannya.
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  ><i class="fas fa-arrow-alt-circle-right"></i> Mampu menguasai teori fundamental matematika yang meliputi
                  konsep himpunan, fungsi, diferensial, integral, ruang dan struktur
                  matematika.
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  ><i class="fas fa-arrow-alt-circle-right"></i> Mampu memahami permasalahan matematis, menganalisa dan menyelesaikannya.
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  ><i class="fas fa-arrow-alt-circle-right"></i> Mampu melakukan eksplorasi, penalaran logis, generalisasi, abstraksi, dan bukti formal;
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  ><i class="fas fa-arrow-alt-circle-right"></i>  Mampu menerima dan mengikuti ilmu baru sesuai dengan bidang kerja yang ditekuni
                </li>
            </ul>
            </div>
        </p>
        <hr>
        <h5 class="card-title">Capaian Pembelajaran Mata Kuliah</h5>
        <p class="card-text">
            <div class="list-group">
                <ul>
                <li href="#" class="list-group-item list-group-item-action">
                    1. Mahasiswa mampu mengikuti perkembangan dan menerapkan matematika serta mampu berkomunikasi secara aktif dan benar baik lisan ataupun tulisan
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  >2. Mahasiswa mampu mengembangkan lebih lanjut pemahaman yang telah
                  didapat terutama berkaitan dengan matematika lanjut dan
                  mengaplikasikannya baik dalam bidang matematika itu sendiri atau yang
                  lainnya serta kemampuan melakukan manipulasi komputasi matematika
                  secara numerik dan simbolik yang berkaitan dengan matriks
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  >3. Mahasiswa mempunyai kemampuan khusus dan mampu mengolah
                  gagasannya yang cukup untuk mendukung studi berikutnya sesuai dengan
                  bidang yang ditekuninya
                </li>
                <li href="#" class="list-group-item list-group-item-action"
                  >4. Mahasiswa mampu menyajikan
                </li>
            </ul>
            </div>
        </p>
        <hr>
        <h5 class="card-title">Pokok Bahasan</h5>
        <p class="card-text">
            Lapangan dan ruang vektor, ruang-bagian vektor, himpunan pembentang,
            bebas Linier dan basis, dimensi, jumlahan langsung, koordinat dan basis
            terurut, pemetaan Linier pada ruang vektor, pemetaan Linier dan aljabar
            matriks, perubahan basis, rank, determinan dan invers, bentuk echelon dari
            suatu matriks, vektor-eigen dan nilai-eigen, pendiagonalan matriks,
            orthogonalitas, general invers.
        </p>
        <hr>
    </div>
</div>
  </div>
</div>
