<div class="row">
    <div class="col-12 col-md-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom bg-info">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Cours</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <span>Bahasa Indonesia</span>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <h3></h3>
  <div class="row">
    <div class="col-xl-12">
      <div
        class="
          card
          border-left border-top border-right border-bottom border-info
          mb-3
        "
      >
        <div class="card-header">Bahasa Indonesia</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Deskripsi</h5>
          <p class="card-text">
            Mata kuliah Bahasa Indonesia merupakan mata kuliah yang bertujuan untuk membekali mahasiswa dalam kemampuan memahami dan menggunakan bahasa Indonesia dalam komunikasi tulis ilmiah. Mata kuliah ini mengajarkan kepada mahasiswa tentang ragam komunikasi tulis secara baku berdasarkan tata bahasa baku bahasa Indonesia dan ejaan bahasa Indonesia. Tujuan akhir dari mata kuliah ini adalah mahasiswa mampu menuliskan beragam komunikasi tulis secara baku khususnya dalam penulisan karya tulis ilmiah.
          </p>
          <hr />
          <h5 class="card-title">
            Capain Pembelajaran yang di bebankan Mata Kuliah
          </h5>
          <p class="card-text">
              <div class="list-group">
                  <ul>
                    <li href="#" class="list-group-item list-group-item-action">
                        1. Sikap :
                    </li>
                  <li href="#" class="list-group-item list-group-item-action">
                      <i class="fas fa-arrow-alt-circle-right"></i> Mewujudkan mahasiswa yang bertakwa kepada Tuhan Yang Maha Esa,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Menjunjung tinggi nilai-nilai agama dalam menjalankan berbagai aktivitas keseharian di masyarakat,

                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Menginternalisasikan nilai, norma dan etika,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Menghargai keragaman budaya, agama, bangsa, pandangan dan pendapat orang lain,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Bekerjasama dan memiliki kepekaan sosial serta kepedulian terhadap masyarakat dan lingkungan sekitar,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Disiplin, berintegritas, jujur, mandiri, kepejuangan dan kewirausahaan,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Menunjukkan sikap bertanggung jawab atas segala sesuatu sesuai dengan bidang keahliannya,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Memiliki pola pikir yang positif dan berwawasan luas dalam memandang segala hal serta,
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Senantiasa menjadi pribadi yang bermanfaat di bermasyarakat.
                  </li>
                  <hr>
                  <li href="#" class="list-group-item list-group-item-action"
                    >2. Pengetahuan :
                    <p>Mahasiswa memahami setiap teori dan mengaplikasikan materi Bahasa Indonesia secara terpadu, sehingga berdampak positif terhadap pembentukan sikap dan perilakunya sebagai masyarakat terdidik.</p>
                  </li>
                  <hr>
                  <li href="#" class="list-group-item list-group-item-action">
                    3. Keterampilan Umum :
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Mahasiswa mampu menyelesaikan berbagai persoalan terkait bahasa Indonesia dengan metode, tindakan dan sikap yang tepat.
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Mahasiswa mampu menganalisis berbagai bentuk aspek bahasa Indonesia dalam implementasinya di lapangan.
                  </li>
                  <hr>
                  <li href="#" class="list-group-item list-group-item-action"
                    >4. Keterampilan Khusus:
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Mahasiswa mampu mengimplementasikan berbagai keterampilan dasar bahasa Indonesia secara baik dan benar.
                  </li>
                  <li href="#" class="list-group-item list-group-item-action"
                    ><i class="fas fa-arrow-alt-circle-right"></i> Menggunakan bahasa Indonesia secara baik dan benar dalam komunikasi untuk berbagai keperluan.
                  </li>
              </ul>
              </div>
          </p>
          <hr>
          
      </div>
  </div>
    </div>
  </div>
  