<div class="row">
  <div class="col-12 col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom bg-info">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Cours</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>Kalkulus II</span>
        </li>
      </ol>
    </nav>
  </div>
</div>
<h3></h3>
<div class="row">
  <div class="col-xl-12">
    <div
      class="
        card
        border-left border-top border-right border-bottom border-info
        mb-3
      "
    >
      <div class="card-header">Kalkulus II</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Deskripsi</h5>
        <p class="card-text">
          teknik integrasi, penggunaan integral, bentuk tak tentu dan integral
          tak wajar, barisan dan deret, permukaan ruang dan fungsi skalar .
        </p>
        <hr />
        <h5 class="card-title">Tujuan</h5>
        <p class="card-text">
          Setelah mengikuti perkuliahan, mahasiswa diharapkan menguasai semua
          topik yang terdapat dalam matakuliah kalkulus-II sebagai dasar untuk
          mengajarkan matematika di sekolah dan sebagai dasar untuk pengembangan
          matakuliah selanjutnya.
        </p>
        <hr />
        <h5 class="card-title">Pendekatan Perkuliahan</h5>
        <p class="card-text">
          Pendekatan pembelajaran pada perkualihan ini adalah ekspositori,
          diskusi, tanya jawab, kombinasi deduktif dan induktif, dan pemberian
          tugas
        </p>
        <hr />
      </div>
    </div>
  </div>
</div>
