<div class="row">
  <div class="col-12 col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom bg-info">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>Cours</span>
        </li>
      </ol>
    </nav>
  </div>
</div>
<h3></h3>
  <!--Start card-->
  <div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg1.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Aljabar Linear</h5>
        <p class="card-text">
          mencakup pemetaan Linier pada ruang vektor, aljabar matriks, perubahan
          basis, rank, determinan dan invers.
        </p>
        <a href="/aljabar-linear" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg2.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Bahasa Indonesia</h5>
        <p class="card-text">
          memahami dan menggunakan bahasa Indonesia dalam komunikasi tulis
          ilmiah.
        </p>
        <a href="/bahasa-indonesia" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg3.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Kalkulus II</h5>
        <p class="card-text">
          teknik integrasi, penggunaan integral, bentuk tak tentu dan integral
          tak wajar, barisan dan deret, permukaan ruang.
        </p>
        <a href="/kalkulus-II" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg4.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Struktur Data</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg5.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Teknik Digital</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg6.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Matematika Diskrit</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg7.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Syari'ah</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card">
      <img
        class="card-img"
        src="./images/card/bg8.jpg"
        class="card-img-top"
        alt="..."
        style="height: 150px"
      />
      <div class="card-body">
        <h5 class="card-title">Statiska Dan Probabilitas</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-info">Detail</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
